.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, td{
  border: 1px solid white;
  padding: 7px;
  font-family:monospace;
  font-size: solid white 14px;
  color: white;
  background-color: #131722;
  box-shadow: 0 6px 6px #000;
  margin-bottom: 9px;
  border-radius: 6px;
  max-width: 370px;
}
label{
  font-family:monospace;
  font-size: 15px;
  font-weight: bold;


}

.container {
  padding: 15px;
  border: 2px solid #333333;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 0 2px 3px #000;
  flex-wrap: wrap;
}
.container2 {
  padding: 15px;
  border: 2px solid #333333;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  box-shadow: 0 2px 3px #000;
  width: 65%;

}
html {
  height:100%;
  width: 100%;
}

th {
  border-bottom: 3px solid red;
}



.bg {
  animation:slide 13s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #101121 50%, #ffffff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
input{
  margin-bottom: 4px;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:17s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family: monospace;
  text-align: center;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.item {
  padding: 18px;
  border-radius: 6px;
  border: 2px solid #333333;
  align-self: flex-start;
  box-shadow: 0 2px 3px #000;
  margin-right: 6px;

}
.item5 {
  padding: 5px;
  align-self: flex-end;
  flex-basis: auto;
  margin-bottom: 7px;



}
.item3 {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #333333;
  align-self: flex-start;
  box-shadow: 0 2px 3px #000;
  margin-bottom: 7px;

}
.item4 {
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #333333;
  align-self: flex-end;
  box-shadow: 0 2px 3px #000;
  margin-bottom: 7px;
}
.item1 {
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #333333;
  box-shadow: 0 2px 3px #000;
  margin-bottom: 7px;
  width: auto;
}
